* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
}

html, body {
    height: 100%;
    width: 100%;
}

body{
    min-width: 100vw;
    background-image: url(https://images.unsplash.com/photo-1603169130499-04f370dae46d?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

@font-face {
    font-family: 'Roboto';
    src: url(./Roboto-Black.ttf);
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 30px;
    color: white;
    text-decoration: none;
    font-weight: 700;
}
.navMenu a{
    position: relative;
    font-size: 18px;
    color: white;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}
.navMenu a::before{
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: orange;
    transition: .3s;
}
.navMenu a:hover::before{
    width: 100%;
}
/* p{
    color: white;
    font-size: 12px;
    padding: 20px;
    line-height: 35px;
    text-align: justify;
} */
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    border: 7px solid #232943;
    box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 5);
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(45deg, #e70000, #e77b00);
    border-radius: 3px;
}

#main{
    width: 100%;
    height: 100%;
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size:15vw;
    font-weight: 600;
}

a{
    text-decoration: none;
    color: white;
}

.cursor{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    transition: all linear 0.2s;
    mix-blend-mode: difference;
}

.mail{
    
    position: absolute;
    bottom: 100px;
    border: 1px solid grey;
    padding: 10px 20px;
    background-color: grey;
    border-radius: 10px;
}

.mail a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
}


@media screen and (max-width: 844px) {

header{
    height: 100px;
    justify-content: space-between;
    padding: 10px 10px;
}
body{
    min-width: 50vw;
    background-image: url(https://images.unsplash.com/photo-1603169130499-04f370dae46d?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
}
.logo{
    font-size: 23px;
}
.navMenu a{
    margin-left: 1px;
}
#main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 4vw;
}

h1 {
    font-size:17vw;
    font-weight: 600;
}

a{
    text-decoration: none;
    color: white;
    font-weight: 100;
}

.navMenu a{
    position: relative;
    font-size: 15px;
    color: white;
    font-weight: 500;
    text-decoration: none;
    margin-left: 1px;
}

.cursor{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    transition: all linear 0.2s;
    mix-blend-mode: difference;
    opacity: 0;
}
    
}